<div class="flex h-screen w-full bg-[#0f172a] overflow-hidden relative">

  <div class="h-full border-r border-white/5 transition-all duration-300"
       [ngClass]="{
         'hidden md:block w-full md:w-1/4 lg:w-[350px]': chatService.currentReceiverId !== '',
         'w-full md:w-1/4 lg:w-[350px] block': chatService.currentReceiverId === ''
       }">

    <app-chat-sidebar class="h-full block"></app-chat-sidebar>
  </div>


  <div class="h-full flex-1 relative transition-all duration-300"
       [ngClass]="{
         'hidden md:block': chatService.currentReceiverId === '',
         'block w-full': chatService.currentReceiverId !== ''
       }">

    <app-chat-window class="h-full block"></app-chat-window>
  </div>


  
</div>
