<div
  class="flex items-center gap-1 px-3 py-2.5 rounded-2xl bg-white/5 border border-white/10 w-fit backdrop-blur-sm shadow-sm">

  <div
    class="w-1.5 h-1.5 rounded-full bg-gradient-to-tr from-blue-400 to-cyan-400 animate-bounce [animation-delay:-0.3s]">
  </div>

  <div
    class="w-1.5 h-1.5 rounded-full bg-gradient-to-tr from-blue-400 to-cyan-400 animate-bounce [animation-delay:-0.15s]">
  </div>

  <div class="w-1.5 h-1.5 rounded-full bg-gradient-to-tr from-blue-400 to-cyan-400 animate-bounce"></div>

</div>
